@charset "utf-8";
@import "mixins";
@import "variables";

@media all and (min-width: 520px) {
	.titlebar_image {
		width: 1200px;
		height: 80px;
		background-image: url(../images/banner/life_banner_Revised_1200_fa.jpg);
	}
}

.titleBar{
	overflow: hidden;
	background-repeat: no-repeat;
	border-bottom-width:thin;
	border-bottom-style:dotted;
	height: 80px;
	line-height: 1.25em;
	h1 {
		font-size: 3em;
		line-height:30px;
		font-family: 'OstrichSans-Black';
		color: $titleBar_h1;
		position: absolute;
		font-size:3.0em;
		top:0.95em;
		left:1.5em;
	}
}
.nav-bar {
	$nav-bar-height: 25px;  ////ToDo: 25px in chrome better, 28 in FF. Garg. Why?
	font-family: 'OstrichSans-Black';
	background: $nav-bar-beige;
	font-size: 1.35em;
	clear: left;
	position: absolute;
	//right:5%;
	right: 0%;
	//float: left;
	//float: right;
	opacity:0.8;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	height: $nav-bar-height;
	//top:77px;
	top:4.1em;
	@include round-corner(25);
	h3 {
		position: absolute;
   		left: -999em;
	}
	ul{
   		//float: left;
		float: right;
   		height: $nav-bar-height;
		overflow: hidden; // http://msdn.microsoft.com/en-us/magazine/dn201719.aspx
		&:first-child{  ////ToDo: why doesn't hover + first child work?
			@include round-corner(25);
   		}
	}
	li {
		height: $nav-bar-height;
		float: left;
		font-size: 1.5em;
	}
	a {
		height: $nav-bar-height;
		display: inline; /*changed from block*/
		padding: 0em 1em;
		text-decoration: none;
		color: #433;
		line-height: 32px;

		//
		&:hover{
			height: $nav-bar-height;
			//padding-bottom:-1px;
			padding-top: 6px;
			background-color: $navbar_background_hover;
			/*
			&:first-child {
				@include round-corner(30);
			}*/
		}
		//
		&:first-child {
			padding-left: 30px;
		}
	}
	.nav-current {
		//font-weight: bold;
	}
}

 /*************************/
 //Tablet format
@media screen and (max-width: $tablet-max) and (min-width: $tablet-min) {
	.nav-bar {
		width: 100%;
		display:block;
		font-size:130%;
		padding-left: 2em;
		position: relative;
		float: none;
		left:0%;
		margin:auto;
		position:relative;
		top:0px;
		@include round-bottom(0,0);
		z-index: 100;
		ul{
		  	float: left;
			&:first-child {
				@include round-corner(0);
			}
		}
		li {
			float: right;
			font-size: 1.5em;
			border-bottom: 0;
			padding-right: 1em;
			}
		}
	.titleBar h1{
		font-size:2.25em;
		top:1.5em;
		left:1.5em;
		color: $titleBar_h1_darker;
		line-height: 22px;
	}
}
//////////////////////
@media screen and (max-width: 519px) {
////Phone
	.titlebar_image {
		background-image: none;
		border-color: $white;
	}
	.nav-bar{
		display:block;
		float:left;
		width:100%;
		right:auto;
		left:auto;
		//top:50px;
		position:relative;
		font-size:130%;
		padding-left: 2em;
		left:0%;
		overflow:hidden;
		height:auto;
		ul {
			height: auto;
		}
		@include round-bottom(0,0);
		//padding-left:0.5em;
		padding-left:0em;
		li {
			//margin-left:0.5em;
	    	float: left;
      		font-size: 1.5em;
		    border-bottom: 0;
			clear: both;
			width:100%;
			display: block;
			padding-top: 0.4em;
		}
		ul {
			border: 0px;
			width:100%;
			&:first-child {
				@include round-corner(0);
			}
		}
		a {
			//font-family: 'raleway-light';
			width:auto;
			padding-right:100%;
			font-size: 1.25em;
			&:first-child {
				padding-left: 1em; //SHAME: needs &:first child to override .nav-bar a:first-child selector in desktop mode.
			}
		}
	  }
	.titleBar h1{
		font-size:2.0em;
		top:1.35em;
		left:1.1em;
		line-height: 20px;
	}
}
@media screen and (min-width: 1335px) {
	.nav-bar{
		position:relative;
		right:0%;
		top:-1.85em;
		float:right;
		ul {
			float:right;
		}
	}
}

