@charset "utf-8";
@import "mixins";
@import "variables";

////Mobile first:
.titleBar {
	padding: 2em;
	h1{
		font-size:2.0em;
		top:1.35em;
		left:1.1em;
		line-height: 20px;
		font-family: 'OstrichSans-Black';
		color: $titleBar_h1;
	}
}

.nav-bar{
	background: $nav-bar-beige;
	font-family: 'OstrichSans-Black';
	font-size: 1.35em;
	display:block;
	clear: both;
	position:relative;
	padding-top: 1em;
	padding-bottom: 1em;
	overflow:hidden;
	height:auto;
	width:100%;
	z-index: 100;
	ul {
		border: 0;
		width:100%;
		overflow: hidden; // http://msdn.microsoft.com/en-us/magazine/dn201719.aspx
	}
	li {
		height: $nav-bar-height;
    	float: left;
  		font-size: 1.75em;
	    border-bottom: 0;
		clear: both;
		width:100%;
		display: block;
		padding-top: 0.1em;
		padding-bottom: 1.75em;
	}
	a {
		display: block;
		overflow: hidden;
		height: $nav-bar-height;
		text-decoration: none;
		width:auto;
		color: #655;
		line-height: $navbar_line-height;
		padding-left: 0.5em;
		&:first-child {
			padding-left: 1em; //SHAME: needs &:first child to override .nav-bar a:first-child selector in desktop mode.
		}
		&:hover{
			height: $nav-bar-height;
			padding-left: 0.5em; //Pushes the hovered item left. A transition would be nice on this.
			background-color: $navbar_background_hover;
			width: 100%;
		}
	}
	.nav-current {
		line-height: $navbar_line-height;
		color: #122;
		padding-left: 1em;
	}
}

@media all and (min-width: $tablet-min) {
	.titlebar_image {
		width: 1200px;
		height: 80px;
		background-image: url(../images/banner/life_banner_Revised_1200_fa.jpg);
	}
}
$li-padding: 1.25em;
////General settings for tablet and larger:
@media all and (min-width: 520px) {
	.titlebar_image {
		background-image: url(../images/banner/life_banner_Revised_1200_fa.jpg);
		background-repeat: no-repeat;
		border-bottom-width:thin;
		border-bottom-style:dotted;
		height: 80px;
		line-height: 1.25em;
		overflow: hidden;
		width:100%;
	}
	.titleBar{
		padding: 0;
		h1{
			position: absolute;
			font-size:2.25em;
			top:1.5em;
			left:1.5em;
			color: $titleBar_h1_darker;
			line-height: 22px;
		}
	}
	$nav-bar-vertical-padding: 0.4em;
	.nav-bar {
		font-size:100%;
		height: $nav-bar-height;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: $nav-bar-vertical-padding;
		margin-bottom: $nav-bar-vertical-padding;
		position:absolute;
		opacity: 0.9;
		top:76px;
		width: 100%;
		z-index: 100;
		ul{
		  	overflow: hidden;
		}
		li {
			clear: none;
			display: inline;
			float: right;
			font-size: 1.5em;
			padding-top: 0;
			padding-bottom: 0;
			width: auto;
		}
		a {
			float: left;
			padding-right: $li-padding;
			padding-left: $li-padding;
			&:hover {
				padding-right: $li-padding;
				padding-left: $li-padding;
				width: auto;
			}
			&:first-child{
				padding-left: $li-padding;
			}
		}
	}

}

////Specific settings for tablet landscape & small desktop:
@media screen and (min-width: $tablet-max) {
	.content-container{
		margin-top: 20px;
		overflow: hidden;
		padding-bottom: 10em;
	}
	.titleBar{
		line-height: 1.25em;
		h1 {
			font-size: 3em;
			line-height:3em;
			color: $titleBar_h1;
			top: -0.25em;
			left:1.5em;
		}
	}
	.nav-bar {
		float: right;
		//right: 5%;
		right: 0;
		opacity: 0.9;
		//top: 72px;
		top: 52px;
		width: auto;
		@include round-corner(25);
		ul {
			&:first-child{
				@include round-corner(25);
			}

		}
		ul a {
			&:first-child{
				padding-left: 1.5em;
				padding-right: 1.5em;
			}
		}
	}
	a {
		&:hover{
			height: $nav-bar-height;
			background-color: $navbar_background_hover;
		}
	}
}

//Desktop and larger screens:
@media screen and (min-width: $desktop) {
	.nav-bar {
		right: 5%;
		top: 72px;
	}
}

////Wide screen:
@media screen and (min-width: 1335px) {
	.content-container{
		width: 1200px;
	}
	////Using _outer and _inner to set the nav bar in the correct Y then X position:
	.nav_outer{
		position: absolute;
		top: 76px;
		width: 100%;
		height: 2.5em;
		margin: auto;
	}
	.nav_inner{
		position: relative;
		width: 1200px;
		height: 25px;
		margin: auto;
	}
	.nav-bar{
		top: -4px;
		right: 0;
	}
	li {
		&.nav-current{
			font-size: 1.9em;
			padding-right: $li-padding;
			padding-left: $li-padding;
		}
	}
}