
$bullet-color: #554444;
$content-border: #BBBBBB;
$infobox-background: #fDfDfD;
$hyperlink: #663333;
$hyperlink_underline: #996666;
$hyperlink_hover: #bb9999;
$white: #ffffff;

$nav-bar-beige: #D6D6C2;
$titleBar_h1: #776666;
$titleBar_h1_darker: #443333;
$navbar_background_hover: #f8f8f8;
$navbar_line-height: 32px;
$nav-bar-height: 25px;

$tablet-max: 759px;
$tablet-min: 520px;

$desktop: 1025px;


$content-container-height: 680px;