/*
Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 8 spaces.
        on line 57 of default_main.css

52: /home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
53: /home/liav/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `load'
54: /home/liav/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `<main>'
55: *\/
56: body:before {
57:   white-space: pre;
58:   font-family: monospace;
59:   content: "Syntax error: Invalid CSS after \"0\": expected expression (e.g. 1px, bold), was \";\"\A         on line 9 of default_main.css\A \A 4: /*\A 5: /*****************************************************************************\/\A 6: \A 7: /* Global Reset *\/\A 8: * {\A 9:   margin: 0;\A 10:   padding: 0;\A 11: }\A 12: \A 13: html, body { height: 100%; }\A 14: "; }

Backtrace:
default_main.css:57
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:424:in `block in tabulate'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:382:in `each'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:382:in `each_with_index'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:382:in `tabulate'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:345:in `_to_tree'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:235:in `watch'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/plugin.rb:107:in `method_missing'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/exec.rb:455:in `watch_or_update'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/exec.rb:318:in `process_result'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/exec.rb:41:in `parse'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/lib/sass/exec.rb:21:in `parse!'
/home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
/home/liav/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `load'
/home/liav/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 8 spaces.\A         on line 57 of default_main.css\A \A 52: /home/liav/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'\A 53: /home/liav/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `load'\A 54: /home/liav/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `<main>'\A 55: */\A 56: body:before {\A 57:   white-space: pre;\A 58:   font-family: monospace;\A 59:   content: \"Syntax error: Invalid CSS after \\"0\\": expected expression (e.g. 1px, bold), was \\";\\"\A         on line 9 of default_main.css\A \A 4: /*\A 5: /*****************************************************************************/\A 6: \A 7: /* Global Reset */\A 8: * {\A 9:   margin: 0;\A 10:   padding: 0;\A 11: }\A 12: \A 13: html, body { height: 100%; }\A 14: \"; }"; }
