/* CSS Document */
@charset "utf-8";
@import "reset";
@import "nav-mobile";
@import "mixins";
@import "variables";
@import "syntax";
////
@include font-face('ostrich-rounded', './fonts/Ostrich/Ostrich-Rounded/ostrich-rounded', 'ostrich-rounded');
@include font-face('OstrichSans-Black','./fonts/Ostrich/Ostrich-Black/OstrichSans-Black', 'OstrichSans-Black');
@include font-face('raleway-regular', './fonts/Raleway/Raleway-regular/Raleway-Regular', 'Raleway-Regular');
@include font-face('raleway-light', './fonts/Raleway/Raleway-light/raleway-light', 'raleway-light');

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-size: 62.5%;
	text-rendering: optimizeSpeed;
	.date{
		float: right;
		padding-left:100%;
	}
	p {
		font-family: 'raleway-regular';
	}
}
.info-box { //moved out of body selector 13 Oct 13.
	background-repeat: no-repeat;
	background-attachment: fixed;
	float: none;
	height: auto;
	left: 0%;
	background-color: $infobox-background;
	border-color: $content-border;
	border-width:thin;
	border-style: dotted;
	border-bottom: none;
	border-left: none;
	border-right:none;
	padding-left: 3em;
	padding-right:3em;
	padding-top: 3em;
	position:relative;
	opacity: 1.0;
	margin: auto;
	width:100%;
	z-index: 100;
	p {
		@include body-text-style;
		padding-bottom: 1.5em;
		line-height: 1.4em;
		a {
			@include body-hyperlink-style;
		}
	}
	ul{
		@include body-text-style;
		list-style-position: outside;
		list-style-type: disc;
		margin-left: 1.7em;
		padding-bottom: 1.5em;
		line-height: 1.5em;
		li {
			text-indent: -0.9em;
		}
		a{
			@include body-hyperlink-style;
		}
	}
	.short{ //short ULs.
			padding-bottom: 0.15em;
	}
	.bullet:before{
		content: "ỽ ";
		color: $bullet-color;
		@include body-text-style;
		display: inline-block;
		text-decoration:none;
		@include body-text-style;
	}
	pre {
		@include body-text-style;
		line-height: 1.25em;
		background-color: rgb(0, 43, 54);
		border-left-color: rgb(5, 35, 43);
		display: block;
		word-break: break-all;
		word-wrap: break-word;
		margin-bottom: 1em;
	}
	img{
		padding-top: 0.5em;
		max-width:100%
	}
	.stroke{ //for image divs that need a boarder.
		img{
			width: 100%;
			border: #888888;
			border-width: 1px;
			border-style: dotted;
			margin-bottom: 1em;
		}
	}
	.hero { //Hero image headers.
		img{
			padding-top:2em;
			padding-bottom: 1em;
		}
	}
	.image{
		a {
			max-width:550px;
			display: block;
			max-height: 100%;
			height: auto;
		}
	}
}
//General body text headers
h1 {
	font-size: 3em;
	font-family: 'ostrich-rounded';
}
h2 {
	font-family: 'ostrich-rounded';
	font-size: 4.0em;
	line-height: 1.5em;
}
h3 {
	font-family: 'ostrich-rounded';
	font-size: 2.7em;
	line-height: 1.25em;
}
h4 {
	font-family: 'ostrich-rounded';
	font-size: 2.2em;
	line-height: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
.content-container{
	width:100%;
	height: auto;
	margin:auto;
	border: 1px solid;
	border-color: $content-border;
	border-left:none;
	border-right:none;
	border-bottom: none;
	background: $white top left no-repeat fixed;
	img {
		float: right;
	}
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	float: left;
	padding-bottom:3em;
	display: block;
	clear: both;
}

//Tablet portrait format and larger:
@media all and (min-width: 520px) {
	.info-box{
		padding-top: 6em;
	}
	img{
		padding-left: 2em;
	}
}

////Specific settings for tablet landscape & small desktop:
@media screen and (min-width: $tablet-max) {
	.content-container{
		background: $white top right no-repeat fixed;
		background-image: url(../images/index_background_800square_flipped.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		border:thin;
		border-style: solid;
		border-color: $content-border;
		float: none;
		margin: auto;
		margin-top: 2em;
		overflow: hidden;
		padding-bottom: 12em;
		width: 90%;
		@include round-bottom(0, 30) //fits a moz bug
	}
	.doc-container{
		padding-bottom: 3em;
	}
	.info-box {
		background-color: $infobox-background;
		border-color: $content-border;
		border-width: thin;
		border-style: dotted;
		float: left;
		left: 5%;
		opacity: 0.95;
		padding: 50px;
		padding-right: 40px;
		padding-bottom: 10px;
		top: 7.5em;
		width: 60em;
		z-index: 110;
		@include round-bottom(5,20);
	}
}

////Wide screen:
@media screen and (min-width: 1335px) {
	.content-container{
		width: 1200px;
	}
	.nav_outer{

	}

}