@charset "utf-8";
/* CSS Document */
@import "reset";
@import "header";
@import "mixins";
@import "variables";
@import "syntax";
////Mixins:


////
@include font-face('ostrich-rounded', './fonts/Ostrich/Ostrich-Rounded/ostrich-rounded', 'ostrich-rounded');
@include font-face('OstrichSans-Black','./fonts/Ostrich/Ostrich-Black/OstrichSans-Black', 'OstrichSans-Black');
@include font-face('raleway-regular', './fonts/Raleway/Raleway-regular/Raleway-Regular', 'Raleway-Regular');
@include font-face('raleway-light', './fonts/Raleway/Raleway-light/raleway-light', 'raleway-light');

////

body{
	font-size: 62.5%;
	text-rendering: optimizeLegibility;
	.date{
		float: right;
		padding-left:100%;
	}
	.info-box {
		h1 {
			font-size: 3em;
			font-family: 'ostrich-rounded';
		}
		h2 {
			font-family: 'ostrich-rounded';
			font-size: 4.0em;
			line-height: 1.5em;
		}
		h3 {
			font-family: 'ostrich-rounded';
			font-size: 2.7em;
			line-height: 1.25em;
		}
		h4 {
			font-family: 'ostrich-rounded';
			font-size: 2em;
			line-height: 1em;
			padding-top: 0.2em;
			padding-bottom: 0.2em;
		}
		p {
			@include body-text-style;
		}
		ul{
			@include body-text-style;
			list-style-position: outside;
			list-style-type: disc;
			margin-left: 1.7em;
			padding-bottom: 1.5em;
			line-height: 1.5em;
			li {
				text-indent: -0.9em;
			}
			a{
				@include body-hyperlink-style;
			}
			&.short{
				padding-bottom: 0.15em;
			}
		}
		.bullet:before{
			content: "ỽ ";
			color: $bullet-color;
			@include body-text-style;
			display: inline-block;
			text-decoration:none;
			@include body-text-style;
		}
		pre {
			@include body-text-style;
			line-height: 1.25em;
			background-color: rgb(0, 43, 54);
			border-left-color: rgb(5, 35, 43);
			display: block;
			word-break: break-all;
			word-wrap: break-word;
		}
	}

}

/*ul{
list-style: none; } */
p {
//font-size: 1.6em;
}
h3{
	font-size: 2em;
}

.content-container{
	width:90%;
	height: 610px;
	padding-bottom:90px;
	margin:auto;
	margin-top: 2em;
	border: 0.5px solid;
	background: $white top right no-repeat fixed;
	background-image: url(../images/index_background_800square_flipped.jpg);
	img {
		float: right;
	}
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	border:thin;
	border-style: solid;
	border-color: $content-border;
	position:relative;
	@include round-bottom(0, 30) //fits a moz bug
	}
.doc-container {
	.main-page {
		height: 610px
	}
}
.info-box{
	position:relative;
	height: auto;
	width: 46em;
	left: 5%;
	opacity: 0.9;
	background-color: $infobox-background;
	border-color: $content-border;
	@include round-bottom(5,20);
	border-width:thin;
	border-style: dotted;
	padding: 50px;
	padding-right: 40px;
	padding-bottom: 10px;
	top: 75px;
	p{
		padding-bottom: 1.5em;
		line-height: 1.4em;
		a {
			@include body-hyperlink-style
		}
	}
}


 /*************************/
 //Tablet format
@media screen and (max-width: 759px)and (min-width: 520px) {
	body{
		width:100%;
		p {
			font-family: 'raleway-regular';
		}
	}
	.background_image {
		background-image: url(../images/index_background_800square_flipped.jpg);
		background: $white top right no-repeat fixed;
		position: relative;
		widows: 100%;
		z-index: 0;
		@include blur(5px);
	}
	.content-container{
		width:100%;
		margin:auto;
		border: 1px solid;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		border-left:none;
		border-bottom:thin;
		border-color: $content-border;
		border-left-style: none;
		border-bottom-style:solid;
		border-right:none;
		float: left;
		position:relative;
		@include round-bottom(0, 0)
		}

	.info-box{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		position: absolute;
		height: 620px;
		width:100%;
		left: 0%;
		margin:auto;
		opacity: 0.8;
		background-color: #fff;
		border-width: thin;
		border-style: dotted;
		border-bottom: none;
		border-left: none;
		padding-left: 3em;
		padding-right:3em;
		padding-bottom: 0px;
		float:none;
		top: 80px;
		filter: none;
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-ms-filter: blur(0px);
		filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0')
	}
}
//////////////////////
@media screen and (max-width: 519px) {
////Phone
	body{
		p {
			font-family: 'raleway-regular';
		}
	}
	$content-container-height: 680px;
	.background_image {
		background-image: url(../images/index_background_mobile2.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		widows: 100%;
		height: $content-container-height;
		z-index: 0;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
	}
	.content-container{
		width:100%;
		height: $content-container-height;
		margin:auto;
		border: 1px solid;
		background: $white top left no-repeat fixed;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		border-left:none;
		border-right:none;
		border-bottom:thin;
		border-left-style: none;
		border-bottom-style:solid;
		border-right:none;
		border-color: $content-border;
		border-bottom-color: $white;
		float: left;
		padding-bottom:30px;
		position:relative;
		@include round-bottom(0, 0);
	}
	.info-box{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		position: absolute;
		height:$content-container-height;
		width:100%;
		left: 0%;
		margin:auto;
		opacity: 0.65;
		background-color: $infobox-background;
		border-width: thin;
		border-style: dotted;
		border-bottom: none;
		border-left: none;
		border-right:none;
		padding-left: 3em;
		padding-right:3em;
		padding-bottom: 3%;
		float:none;
		top: 80px;
		@include round-bottom(0,0);
		z-index: 100;
		filter: none;
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-ms-filter: blur(0px);
		filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0')
	}
}
@media screen and (min-width: 1335px) {
	.content-container{
		width:1200px;	}
	.info-box{
		width: 55em;}
	.doc-container{
		width:1200px;
		margin-left:auto;
		margin-right:auto;
	}
}

