---
---

<div class ="nav-bar">
    <ul>


        <li class="nav-current">Home</li>
        <li></li>
        <li><a href="portfolio_n.html">Portfolio</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="bio.html">Bio</a></li>
        <!--
        <li><a href="blog.html"></a>Blog</li>
        <li><a href="labs.html"></a>Labs</li>        
        <li><a href="links.html">Links</a></li>
        <li><a href="resume.html">Resume & etc</a></li>
        -->
        <li><a href="contact.html">Contact</a></li>
    </ul>                   
</div>

Collapse Bio, resume, contact and collophon sections into About? 