<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Liav Koren // Artisanal pixels since 1874 {{page.title}} </title>
        <meta name="description" content="Personal portfolio, blog and web laboratory of Liav Koren"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--[if (lt IE 9)&(!IEMobile)]>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/liavkoren_base.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/liavkoren_base.css" media="screen, handheld" />
    </head>
    <body>
        <div class="doc-container" >
            <div class="content-container">
                <div class="titleBar">
                    <h1>Liav Koren // artisanal electrons // handcrafted pixels.</h1>
                    <div class="titlebar_image"></div>
                </div>
                <div class = "info-box">
                    {{content}}
                </div>
            </div>
            <div class="nav_outer">
                <div class="nav_inner">
                    {% include nav_dynamic.html %}
                </div>
            </div>
            <!--
            <script>
                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src='//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
            -->
        </div>
        <!-- <script src="{{site.baseurl}}js/main.js"></script>
        <script src="{{site.baseurl}}js/vendor/jQuery/jquery-2.0.3.min.js"></script> -->
        <!-- <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> -->
    </body>
</html>
