<!DOCTYPE html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>skrollr test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/sk_test.css" media="screen, handheld" />

    </head>
    <body>
        <div class="doc-container" id="skrollr-body" >
            <!-- <div class="content-container" data-start="background-position: right 0px;" data-end="background-position: right 10px;"> -->
            <div class="content-container">
                <div class = "info-box">
                    {{content}}
                </div>
            </div>

            <script type="text/javascript" src="{{site.baseurl}}js/vendor/skrollr/dist/skrollr.min.js"></script>
            <script type="text/javascript">
                skrollr.init({
                    forceHeight: false,
                    smoothScrolling: true,
                    mobileDeceleration: 0.1
                });
            </script>
        </div>
    </body>
</html>
