@media screen and (max-width:1236px) {
	.gallery a, .gallery img{
		display:inline;	}
	.gallery#thumbnails {
		position: relative;
		left:0px;
		float:none;
		top: 22px;	}	
	.gallery#thumbnails a.last{	
		/*float:left;*/
		}
	#thumbnails.gallery{		
		width:800px;
		height:79px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		white-space:nowrap;		}
	.gallery img {
		width:20%; 
		max-width:100%;
		max-height:100%;
		padding-top:10px;}	
	#pictureBox img{
		left:auto;
		right: auto;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		float:none;
		display:block;
		max-width:100%;		}
	#pictureBox {
		top:20px;
		left:auto;
		right:auto;
		padding-left:0px;
		float: none;
		width:auto;
		margin-left:auto;
		margin-right:auto;		}	
	#galleryWrapper {
		left:auto;
		right:auto;
		height:auto;
		margin-left:auto;
		margin-right:auto;		}
	#content_container{
		overflow:hidden;	}
/*
	.container #content_container{ /*reset the bottom padding of he content container when thumbnails move from right to bottom
		height:auto;
		padding-bottom:50px;
	}*/
	figcaption{
		width:800px;
		margin-left:auto;
		margin-right:auto;
		}

}