
#bioContainer{
	display:inline;
	width:auto;
	
	height:486px;
	padding-bottom:75px;
	padding-left:5%;
	white-space:nowrap;
	left:5%;
	float:left;
	overflow:hidden;}
	
#infoBox.bioBox{
		float:left;
		height:444px;
		width:auto;
		max-width:47em;
		padding-left:30px;
		padding-right:10px;
		left:0px;
		white-space:normal;}	
#bioPhoto{
		display:inline-block;
		/*max-height:100%;
		max-width:100%;
		height:486px;
		width:466px;*/
		
		width:auto;
		position:relative;
		float:right;
		top:75px;
		/*background:URL("../images/slitscanLiav.jpg");*/
		/*margin-left:65px;*/}

#bioPhoto img {
	max-width:100%;
}
		


@media screen and (max-width: 1160px) {
	#bioContainer{		
		padding-left:1%;
		margin-left:auto;
		margin-right:auto;
		/*float:none;*/
		}}		
	
@media screen and (max-width: 1100px) {
	#infoBox.bioBox{
		width:30em;
		padding-left:3.5em;
		padding-right:3em;
		height: auto;
		overflow:auto;
		}
	#bioContainer{
		height:auto;
		}
	#bioPhoto{		
		padding-left:5px;
	}
}	
	
@media screen and (max-width: 950px) {		
	#bioContainer{
		display:inline;
		}	
	#bioPhoto img {
		width:75%;
	}
}

@media screen and (max-width: 830px) {	
	#bioContainer{
		display:inline;
		}	
	#bioPhoto img {
		width:50%;
	}
}

@media screen and (max-width: 760px) {		
	#bioContainer{
		display:inline;
		}
	#content_container{
		height:662px;
		}
	#bioContainer{
		width:100%;
		}
	#bioPhoto{
		width:100%;
		float:right;		
	}
	#bioPhoto img {
		float:right;
		width:50%;
		padding-right:5px;
	}
}

@media screen and (max-width: 600px) {	
	#bioContainer{
		display:inline;
		}	
	#bioPhoto img {
		width:35%;
		padding-right:30px;
	}
}

@media screen and (max-width: 519px) {		
	#bioPhoto{
		display:block;
		top:0px;
		height:auto;
		max-width:47em;
		float:none;
		}
	#bioPhoto img {	
		padding-top:10px;
		padding-right:10px;
		display:block;
		width:95%;
		max-width:100%;
		max-height:100%;
		float:none;
		margin-left:auto;
		margin-right:auto;
		}
	#content_container{
		padding-bottom:0px;
	}
	#infoBox.bioBox{
		width:100%;
		/*clear:both;
		display:block;*/
		}
	#bioContainer{
		padding-bottom:60px;
		padding-left:0px;
		}		
	#content_container{		
		height:auto;
		}
}

@media screen and (min-width: 1230px) {		
	#bioContainer{
		padding-left:80px;
		padding-right:0px;
		margin-left:auto;
		margin-right:auto;
		float:none;
		width:978px;
		display:inline-block;
		}